---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

---

---
 

<Layout title="Keith's Email List">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10 text-center">KEITH HOWARD'S EMAIL LIST</h1>
    <Markdown content={explainer} class="text-lg mb-10" />


</Layout>
