---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `You're almost there. One more click. 
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Keith Howard's Email List</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="" class="btn btn-lg btn-primary sm:btn-wide">CLICK HERE</a>
    </p>
</Layout>
