---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = ` I help misfits like us build profitable email funnels our way. No corporate BS. No micromanagers. No "alignment" meetings. 
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">NEVER WORK FOR MICROMANAGERS AGAIN</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="" class="btn btn-lg btn-primary sm:btn-wide">HELL YEAH</a>
    </p>
</Layout>
