---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thank You for Subscribing">
    <div class="thank-you-page text-center mx-auto py-10 px-6 max-w-2xl bg-gray-100 rounded-lg shadow-md">
        <h1 class="text-4xl font-bold text-white-800 mb-6">Thank You for Subscribing!</h1>
        <p class="text-lg text-white-700">
            Your subscription was successful. We're excited to have you on board!
        </p>
    </div>
</Layout>
